training/checkpoints

# ROS 2 Build Artifacts
build/
install/
log/
COLCON_IGNORE

# Python
__pycache__/
*.py[cod]
*$py.class

# C++
*.so

# IDEs
.vscode/
.idea/

# System
.DS_Store

*metadata.json
data/
.venv/

# Data
*.bag
*.zip
